<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/template" id="month-template">
            <h1>
                <span class="prev"> &larr; Previous Month </span>
                {{name}} {{year}}
                <span class="next"> Next Month &rarr; </span>
            </h1>
            <table class='month'>
                <thead>
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </script>
    </head>
    <body>
        <div id="main"></div>
        <script src="js/lib/jquery.js"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/moment.min.js"></script>
        <script src="js/lib/backbone.js"></script>
        <script src="js/models/models.js"></script>
        <!--<script src="./js/templates.js"></script>-->
        <script src="js/views/views.js"></script>
        <script src="js/routers/router.js"></script>
        <script>
            var r = new App.Router({
                main: $("#main"),
                calendar: new App.Models.Calendar([])
            });

            Backbone.history.start({ pushState: true });
        </script>
    </body>
</html>
